@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "DM Serif Display" serif;
    font-weight: 400;
    font-size: 18px;
    color: rgb(172, 86, 37);
    text-decoration: 0;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: rgb(243, 203, 129);
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgb(236, 231, 226);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgb(247, 216, 159);
}

h1 {
    color: rgb(223, 124, 59);
    margin-right: auto;
    font-size: 40px;
}

.banner {
    background-image: url("img/bliss.jpg");
    background-size: cover;
    background-position: center center;
    top: 0px;
    height: 70vh;
    width: 100%
    
}

/*Section*/

.body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("C:/EFAProjects/Projects/UtopiaStorefront/img/tanzania.jpg");
    background-position: center;
    background-size: cover;
}

.heading {
    width: 30%;
    text-align: center;
    color: #fff;
}

.heading h1 {
    font-size: 40px;
}

.heading a{
    text-decoration: none;
    color: rgb(172, 86, 37);
    font-size: 25px;
    font-weight: bold;
    border-radius: 45px;
    padding: 14px 50px;
    background-color:rgb(236, 231, 226);
}

.heading a:hover{
    letter-spacing: 3px;
    transition: 0.6s;
}

.tours{
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.places{
    display: inline;
    text-align: center;
    border-radius: 12px
}

.places h2{
    color:rgb(172, 86, 37);
    font-size: 35px;
    letter-spacing: 3px;
    border-radius: 1px;
    padding: 30px 30px;
    background-color: rgb(241, 202, 151);
}

.places a{
    text-decoration: none;
    color:rgb(172, 86, 37);
    font-weight: bold;
    font-size: 18px;
    border-radius: 12px;
    padding: 12px 30px;
    background-color: rgb(236, 231, 226);
}

.places a:hover{
    background-color: rgb(241, 202, 151);
    letter-spacing: 3px;
    transition: 0.6s;
}

.footer{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer a{
    text-decoration: none;
    color:rgb(172, 86, 37);
    font-size: 18px;
    font-weight: bold;
}

.social{
    display: inline-block;
}

.social a{
    color: rgb(172, 86, 37);
}
